# Configure Python development environment.
[ -d ".venv" ] || uv venv --python 3.8 --prompt . --seed ".venv"
[ ! -f "requirements.txt" ] || uv pip install -r requirements.txt
[ ! -f "pyproject.toml" ] || uv pip install --all-extras -r pyproject.toml --editable .
. ./.venv/bin/activate
